body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: hidden; 
}

.loading-container {
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    position: relative;
    display: none;
}

.loading-bar {
    height: 30px;
    width: 0%;
    background-color: #4CAF50; 
    border-radius: 5px;
    transition: width 0.05s linear;
    border:  solid ;
}


#template{
    text-align: center;
}
